*{
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

header{
    padding-block: 12px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

body{
    padding: 0.7rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


nav{
    display: flex;
    justify-content: end;
    height: 100vh;
    display: none;
    width: 100vw;
    position: absolute;
}
.nav_bar.active{
    display: flex;
    height: 72vh;
    width: 100vw;
    position: absolute;
}

.nav_bar.active:hover.image1{
    opacity: 1;
    border: 2px solid red;
}

.Menu_line2{
    display: flex;
    padding-inline-end: 35px;
    padding-block: 10px;
    justify-content: end;
}

#nav_con{
    width: 70%;
    background-color: white;
    
}

.Menu_line1, .Menu_line2{
    cursor: pointer;
    padding-block: 10px;
}

header nav ul a:hover{
    cursor: pointer;
    color: hsl(5, 85%, 63%);
}

header nav ul{
    list-style: none;
    padding-inline: 1rem;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


header nav ul li{
    padding-block: 0.7rem;
}

header nav ul a{
    text-decoration: none;
    color: black;
    font-weight: 400;
}


.image1{
   width: 100%;
}

#Sub_sub_Main_Con1 h1{
    width: 80%;
    font-weight: 800;
    color: hsl(240, 100%, 5%);
}


#Sub_sub_Main_Con2 p{
    font-size: 15px;
    line-height:1.3rem;
    color: hsl(236, 13%, 42%);
}

#Sub_sub_Main_Con2 button{
    width: 50%;
    height: 2rem;
    background-color: hsl(5, 85%, 63%);
    border: none;
    color: white;
    font-weight: 700;
}

#Sub_sub_Main_Con2{
    display: grid;
    gap: 1rem;
}

#Main_Con2{
    margin-block: 1.5rem;
    background-color: hsl(240, 100%, 5%);
    color: white;
    padding-inline: 1rem;
}

#Main_Con2 h2{
    color: hsl(35, 77%, 62%);
    padding-block: 0.5rem;
}
#Main_Con2 p{
    font-size: 15px;
    line-height: 1.5rem;
    color:hsl(233, 8%, 79%);
}
#Main_Con2 div{
    padding-block: 1.3rem;
}

#Main_Con2 h4{
    padding-block-end: 0.5rem;
    font-weight: 800;
}

#middle_div{
    border-top: 1px solid hsl(233, 8%, 79%);
    border-bottom: 1px solid hsl(233, 8%, 79%);
}

#Sub_container_2_One, #Sub_container_2_Two, #Sub_container_2_Three{
    display: flex;
    padding-block: 0.8rem;
}

.Sub_container_2_writeup{
    width: 100%;
}

.Sub_container_2_writeup h2{
    color: hsl(233, 8%, 79%);
}

.Sub_container_2_writeup h3{
    color: hsl(240, 100%, 5%);
    font-weight: 800;
}

.Sub_container_2_Image{
    width: 80%;
}

.Sub_container_2_writeup p{
    font-size: 15px;
    color: hsl(233, 8%, 79%);
}

.image2{
    display: none;
}

@media (min-width:769px){
    header{
        padding-block: 12px;
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    
    nav{
        display: flex;
        justify-content: end;
        height: auto;
        width: 95vw;
        position: absolute;
    }

    #nav_con{
        width: 45%;

        height: fit-content;
    }

    header nav ul{
        list-style: none;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .Menu_line2, .Menu_line1{
        display: none;
    }

    .image1{
        display: none;
    }

    .image2{
        display: flex;
        width: 100%;
    }

    #Sub_container_1{
        display: flex;
        justify-content: space-between;
    }

    #Main_Con1{
        display: grid;
        width: 62%;
    }

    #Sub_sub_Main_Con1 h1{
        width: 100%;
        font-weight: 800;
        color: hsl(240, 100%, 5%);
    }
    
    
    #Sub_sub_Main_Con2 p{
        width: 80%;
        font-size: 15px;
        line-height:1.3rem;
        color: hsl(236, 13%, 42%);
    }

    #Sub_Main_Con2{
        display: flex;
    }

    #Main_Con2{
        margin-block: 0;
        width: 35%;
        background-color: hsl(240, 100%, 5%);
        color: white;
        display: grid;
        align-content: center;
        padding-inline: 1rem;
    }

    #Sub_container_2{
        display: flex;
        margin-block-start: 2rem;
    }
    
}
